body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #f0f4f8, #cce7ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    transition: background 0.3s ease;
}

body.dark-mode {
    background: linear-gradient(to right, #2c2c2c, #1a1a1a);
    color: #ffffff;
}

.container {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    transition: background 0.3s ease, color 0.3s ease;
}

body.dark-mode .container {
    background: #333;
    color: #fff;
}

input[type="text"] {
    width: 370px; 
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #007bff;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.loading {
    font-size: 18px;
    font-weight: 600;
    color: #007bff;
    margin-top: 20px;
}

body.dark-mode .loading {
    color: #007bff;
}

.result {
    display: none;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

body.dark-mode .result {
    color: #fff;
}

.id-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    max-width: 350px;
    margin: 0 auto;
    position: relative;
    transition: background 0.3s ease, color 0.3s ease;
}

body.dark-mode .id-card {
    background: #444;
    color: #fff;
}

.title-Common {
    color: green;
    font-weight: bold;
}

.title-Rare {
    color: blue;
    font-weight: bold;
}

.title-Epic {
    color: purple;
    font-weight: bold;
}

.title-Lagendary {
    color: orange;
    font-weight: bold;
}

.title-Dark-Sistem {
    color: red;
    font-weight: bold;
}

.title-Langka {
    color: gray;
    font-weight: bold;
}

.title-Kroco {
    color: brown;
    font-weight: bold;
}

.dark-mode-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

.dark-mode-toggle input {
    display: none;
}

.dark-mode-toggle .toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dark-mode-toggle .sun-icon,
.dark-mode-toggle .moon-icon {
    font-size: 20px;
    transition: transform 0.3s ease;
}

.dark-mode-toggle input:checked + .toggle-label .sun-icon {
    transform: translateX(-30px);
}

.dark-mode-toggle input:checked + .toggle-label .moon-icon {
    transform: translateX(-10px);
}
